@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

html, body, * {
    /* background-color: rgb(246, 89, 65); */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    background-color: rgb(252, 99, 75);
}

.bingo-container {
    background-color: rgb(129, 36, 36);
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 15px 0px #000000;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin: 0.2rem auto;
    padding: 0.2rem;
    width: 98%;
}

.bingo-square {
    align-items: center;
    background-color: rgb(218, 251, 238);
    border: 1px solid rgb(215, 215, 215);
    display: flex;
    flex: 0 1 25%;
    font-size: 0.7rem;
    font-weight: bold;
    height: 18vh;
    justify-content: center;
    overflow: hidden;
    padding: 0.2rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Bangers;
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
    color: rgb(255, 252, 216);
}

.title {
    font-family: inherit;
    font-size: 2.2rem;
    padding: 0.6rem;
    width: 60%;
}

.bingo-counter, .count {
    font-family: inherit;
    font-size: 1.5rem;
    padding: 0.8rem;
    width: 20%;
}

.button-container {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-button {
    background-color: rgb(213, 58, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 0.5rem;
    border-radius: 100%;
    box-shadow: 1px 1px 8px -2px #000000;
    border: 1px solid rgb(0, 0, 0);
}

.reset-button:active {
    background-color: rgb(150, 27, 8);
}

.active {
    border: none;
    background-color: rgb(123, 255, 123);
    box-shadow: inset 1px 1px 6px -2px #000000;
    padding: calc(0.2rem + 1px);
}

.col-bingo, .diag-bingo, .row-bingo {
    background-color: rgb(239, 205, 82);

}