@use 'abstracts' as *;

.bingo-container {
    background-color: $green;
    border: 2px solid $black;
    border-radius: 5px;
    box-shadow: 3px 3px 15px 0px $black;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin: 0.2rem auto;
    padding: 0.2rem;
    width: 98%;
}

.bingo-square {
    align-items: center;
    background: url("../assets/img/cobweb.png");
    background-color: $grey-100;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    border: 1px solid $grey-400;
    display: flex;
    flex: 0 1 25%;
    font-size: 0.7rem;
    font-weight: bold;
    height: 16vh;
    justify-content: center;
    overflow: hidden;
    padding: 0.2rem;
    text-shadow: 2px 2px 2px 2px $black;
    text-align: center;

    &.active {
        background-color: $green;
        border: none;
        box-shadow: inset 1px 1px 6px -2px $black;
        color: $white;
        padding: calc(0.2rem + 1px);
        text-shadow: 2px 3px 3px rgba(0,0,0,0.7);

        &.col-bingo,
        &.diag-bingo,
        &.row-bingo {
            background: none;
            background-color: $gold;
        }

        &.bad-square {
            background-color: $red;
        }
    }
}

.bad-squares-container {
    background-color: $maroon;
    border: 3px solid $black;
    border-radius: 6px;
    box-shadow: 3px 3px 15px 0px $black;
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    padding: 0.6rem;
    &.hidden { display: none; }
}
