@use 'abstracts' as *;

.header-container {
    align-items: center;
    color: $white;
    display: flex;
    font-family: $cursive;
    justify-content: space-between;
    padding: 0.3rem 1rem 0.2rem;
    text-align: center;
    text-shadow: 0 0 3px $black, 0 0 5px $black;

    .bingo-counter {
        cursor: pointer;
        font-family: $cursive;
        font-size: 1.5rem;
        .count { font-family: inherit; }
    }

    .title {
        font-family: inherit;
        font-size: 2rem;
    }

    .button-container {
        align-items: center;
        display: flex;
        justify-content: center;

        .reset-button, .edit-button {
            align-items: center;
            background-color: $grey-500;
            border: 1px solid $grey-200;
            border-radius: 100%;
            box-shadow: 1px 1px 8px -2px $black;
            cursor: pointer;
            display: flex;
            font-size: 0.5rem;
            height: 2.5rem;
            justify-content: center;
            width: 2.5rem;
            &:active { background-color: $black; }

            &.active {
                background-color: green;
            }
        }

        .reset-button {
            margin-left: 0.4rem;
        }
    }
}
