$black:                 rgb(15, 15, 15);
$white:                 rgb(242, 242, 242);

$grey-100:              rgb(154, 154, 154);
$grey-200:              rgb(84, 84, 84);
$grey-400:              rgb(57, 57, 57);
$grey-500:              rgb(48, 48, 48);

$maroon:                rgb(52, 34, 34);
$dark-red:              rgb(74, 12, 12);
$red:                   rgb(144, 31, 31);
$green:                 rgb(46, 62, 46);
$gold:                  rgb(96, 79, 16);
